html,body {
    margin: 0;
    padding: 0;
}

#wrapper{
    width: 800px;
    margin: 0 auto;
}

.container{overflow: hidden;/* Clear floats */}
#banner-placeholder{height: 100px;}

#banner {
    background-color: beige;
    width: 800px;
    height: 100px;
    clear: both;
    position: fixed;
    top: 0;
}

#nav {
    background-color: rgb(206, 238, 238);
    width: 100px;
    float: left;
   
}

#content {
    background-color: rgb(207, 208, 198);
    width: 600px;
    height: 800px;
    float: left;
    
}

#supporting {
    background-color: rgb(250, 199, 206);
    width: 100px;
    float: left;
    
}

#footer {
    background-color: rgb(241, 188, 167);
    width: 800px;
    height: 50px;
    clear: both;
}